{
  "openapi": "3.0.1",
  "info": {
    "version": "v1",
    "title": "Orders API",
    "description": "The Orders API is providing services for managing payment orders and transactions."
  },
  "servers": [
    {
      "url": "https://apitest.payengine.de/v1",
      "description": "Test"
    },
    {
      "url": "https://api.payengine.de/v1",
      "description": "Live"
    }
  ],
  "tags": [
    {
      "name": "Orders API"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "tags": [
          "Orders API"
        ],
        "summary": "Get list of orders",
        "description": "Endpoint to receive a list of available orders.\n\n\nThe following parameters can be used as filter.\n- terms\n- privacy\n- orderId\n- merchantOrderId\n- paymentProviderTransactionId\n- initialAmount\n- currency\n- customerId\n- ipAddress\n- status\n- channel\n- source\n- product\n- settled\n- settlementDate\n- createdAt\n- modifiedAt\n- lastOperation\n- email\n\n\nThe following parameters can be used as a range filter.\n\n\nDates:\n- terms\n- privacy\n- settlementDate\n- createdAt\n- modifiedAt\n\nNumbers:\n- initialAmount\n",
        "operationId": "Orders",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create order intent",
        "description": "Endpoint to create an order intent.\n\nThis service will create a new order incl. all order details with status CREATED and returns a corresponding orderId.\n\nThe order intent is required for Payengine widget solutions which need an orderId as an input in order to execute an order at the end of the process.\n",
        "operationId": "getOrders",
        "requestBody": {
          "description": "Request body to create a order intent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders API"
        ],
        "summary": "Get order",
        "description": "Endpoint to receive a specific order referencing the orderId.\n\nThe returned order object includes all details and transactions of the whole lifecycle of the order.\n",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the specific order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          },
          "404": {
            "description": "Not found caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersGetNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Orders API"
        ],
        "summary": "Update order",
        "description": "Endpoint to update an order intent referencing the orderId.\n\n\nThis service can be used for updating order details as long as the order is still in status CREATED.\n",
        "operationId": "OrdersByOrderId1",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the specific order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for updating an order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/preauth": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create preauth transaction",
        "description": "Endpoint to create a preauth transaction.\nA preauth transaction only authorizes a payment and for certain methods also reserves the authorized amount. However no cash flow will be triggered as long as no corresponding capture transaction is initiated at a later stage.\n\nThere are 2 workflows to process a preauth: ASYNC and SYNC.\n\nWith SYNC payment methods the transaction will directly result in a OK/SUCCESS or a negative status. With ASYNC payment methods the transaction will result in a PENDING or FAILURE/DECLINED/ABORTED status.\n\nThe integrating system needs to redirect the shopper to the redirectUrl After the shopper completes the payment action the transaction status will change accordingly and the integrator can query the updated status.\n",
        "operationId": "createPreauthOrder",
        "requestBody": {
          "description": "Request body for creating a preauth.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderOpenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersPreauthPostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/debit": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create debit transaction\n",
        "description": "Endpoint to create a debit transaction.\n\nThe debit transaction authorizes the payment and triggers the cash flow as the money will be debited from the end customer account.\n\nNo further capture transaction is required anymore afterwards.\n\nThere are 2 workflows to process a debit: ASYNC and SYNC.\n\nWith SYNC payment methods the transaction will directly result in a OK/SUCCESS or a negative status.\n\nWith ASYNC payment methods the transaction will result in a PENDING or FAILURE/DECLINED/ABORTED status.\n\nIf the status of the transaction is in PENDING the response will contain a redirectUrl.\n\nThe integrating system needs to redirect the shopper to the redirectUrl.\n\nAfter the shopper completes the payment action the transaction status will change accordingly and the integrator can query the updated status.\n",
        "operationId": "createDebitOrder",
        "requestBody": {
          "description": "Request body for creating a debit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderOpenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersDebitPostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/credit": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create credit transaction",
        "description": "Endpoint to create credit transactions.\n<br/><br/>\nSupported transaction types are non-reference refund and original credit transaction (OCT) / payout.\n<br/><br/>\nNon-reference refund transaction is the default type of credit. Supported for credit card, SEPA and Paypal. Credit card and SEPA are process via MOTO channel, Paypal via ECOM.\n<br/><br/>\nOriginal credit transaction (OCT) / payout is supported for credit card - both VISA (Visa Direct) and MasterCard (MasterCard Send). In order to trigger credit as OCT / payout the instant flag in the meta object should be set to true. The channel used for OCT / payout is ECOM. For VISA it's highly recommended to execute the operation with sending a dynamic subscription for notification. This will assure that in case of timeout during the initial processing request, a notification with the final status of the transaction will be sent once it's processed by the system.\n",
        "operationId": "createCreditOrder",
        "requestBody": {
          "description": "Request body for creating a credit transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersCreditPostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/cancel": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create cancel transaction",
        "description": "Endpoint to create a cancelation a preauth transaction referencing the corresponding orderId and transactionId.\n\nA cancel transaction can only be applied to a non expired preauth transaction that is in status SUCCESS.\nPartial cancelations are supported but the initialAmount cannot be higher than the amount that was authorized\n",
        "operationId": "createCancel",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the affected transaction. note: it must be a preauth.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for creating a cancel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseParent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsCancelPostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/capture": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create capture transaction",
        "description": "Endpoint to capture a preauth transaction referencing the corresponding orderId and transactionId.\n\nA capture transaction can only be applied to a non expired preauth transaction that is in status SUCCESS.\nPartial captures are supported but the initialAmount cannot be higher than the amount that was authorized.\n",
        "operationId": "createCapture",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the affected transaction. note: it must be a preauth.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for creating a capture.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsCapturePostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/refund": {
      "post": {
        "tags": [
          "Orders API"
        ],
        "summary": "Create refund transaction",
        "description": "Endpoint to refund a capture transaction referencing the corresponding orderId and transactionId.\n\nA refund transaction can only be applied to a capture transaction that is in status SUCCESS.\nPartial refunds are supported but the initialAmount cannot be higher than the amount that was captured.\n\nIn case refunds for sepa/sofort/prepayment are executed using the online bank transfer feature the refund will result in the status PENDING.\n\nThe transaction response will contain a challenge element with the TAN instructions.\n\nThe TAN needs to be transmitted in subsequent request. See \"PATCH /orders/{orderId}/transactions/{transactionId}\"\n",
        "operationId": "createRefund",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the affected transaction. note: it must be a capture or a debit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for creating a refund.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseParent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsRefundPostBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Orders API"
        ],
        "summary": "Get transaction",
        "description": "Endpoint to receive a specific transaction referencing the orderId and transactionId.\n",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the specific transaction.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseParent"
                }
              }
            }
          },
          "404": {
            "description": "Not found caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsGetNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Orders API"
        ],
        "summary": "Update order transaction",
        "description": "Endpoint to update a specific transaction referencing the orderId and transactionId.\n\nThe service can be used for updating preauth transactions for ratepay-invoice, ratepay-directdebit or ratepay-installment that have not been captured yet.\n\nThe service can also be used for updating the TAN for refund transactions using the online bank transfer feature for sepa/sofort/prepayment that are in status PENDING.\n",
        "operationId": "updateTransaction",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the specific transaction.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for updating a transaction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponseParent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsPatchBadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{orderId}/transactions": {
      "get": {
        "tags": [
          "Orders API"
        ],
        "summary": "Get list of order transactions",
        "description": "Endpoint to receive a list of all available transactions of an orders referencing the orderId.\n",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the affected order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "404": {
            "description": "Not found caused by invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersTransactionsGetAllNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "OrderList": {
        "title": "OrderList",
        "required": [
          "elements",
          "totalPages"
        ],
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "description": "A list of orders.",
            "items": {
              "$ref": "#/components/schemas/OrderResponse"
            }
          },
          "totalPages": {
            "minimum": 1,
            "type": "number",
            "description": "A counter for the total pages returned.",
            "format": "int"
          }
        }
      },
      "OrderCreateRequest": {
        "title": "OrderCreateRequest",
        "required": [
          "async",
          "currency",
          "initialAmount",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "initialAmount": {
            "type": "number",
            "description": "Amount as smallest currency unit\ne.g 100 EUR will be result in amount = 10000\n",
            "format": "int"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217"
          },
          "async": {
            "$ref": "#/components/schemas/Async"
          },
          "transactionType": {
            "$ref": "#/components/schemas/InitialTransactionTypeBaseTypeEnum"
          },
          "terms": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "privacy": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "merchantOrderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from your system/shop for Creditcards only 30 alphanumeric characters."
          },
          "description": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The description from your system/shop of this order."
          },
          "statementDescription": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The statement description from your system/shop of this order."
          },
          "basket": {
            "type": "array",
            "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The customer id which will be used to process this order."
          },
          "persona": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer."
          },
          "billingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as billing address for this order."
          },
          "shippingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as shipping address for this order."
          },
          "ipAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelsBaseTypeEnum"
          },
          "source": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The source is a form free descriptor of the origin."
          },
          "allowedProducts": {
            "type": "array",
            "description": "A List of all valid products for this order.",
            "items": {
              "$ref": "#/components/schemas/ProductsBaseTypeEnum"
            }
          },
          "locale": {
            "type": "string",
            "description": "Language tag consisting of a two-letter language code combined with a two-letter country code according to RFC 1766. Examples: en-US, en-GB. Only for PayPal, Union Pay and WeChat Pay."
          },
          "risk": {
            "$ref": "#/components/schemas/Risk"
          }
        }
      },
      "OrderResponse": {
        "title": "OrderResponse",
        "required": [
          "canceledAmount",
          "capturedAmount",
          "channel",
          "createdAt",
          "currency",
          "initialAmount",
          "modifiedAt",
          "orderId",
          "preauthorizedAmount",
          "refundedAmount",
          "status",
          "transactions"
        ],
        "type": "object",
        "properties": {
          "orderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from payengine."
          },
          "initialAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "The initial amount given to create this order.",
            "format": "int"
          },
          "preauthorizedAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "The amount which has been authorized.",
            "format": "int"
          },
          "capturedAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "The amount which has been captured.",
            "format": "int"
          },
          "refundedAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "The amount which has been refunded.",
            "format": "int"
          },
          "canceledAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "The amount which has been cancelled.",
            "format": "int"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217"
          },
          "transactions": {
            "type": "array",
            "description": "A list of all underlying transactions.",
            "items": {
              "$ref": "#/components/schemas/TransactionResponseChildren"
            }
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatesBaseTypeEnum"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelsBaseTypeEnum"
          },
          "createdAt": {
            "type": "number",
            "description": "This timestamp indicates the creation of this order.",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "number",
            "description": "This timestamp indicates the last modification of this order.",
            "format": "date-time"
          },
          "terms": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "privacy": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "merchantOrderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from your system/shop for Creditcards only 30 alphanumeric characters."
          },
          "paymentProviderTransactionId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from the payment provider."
          },
          "description": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The description from your system/shop of this order."
          },
          "statementDescription": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The statement description from your system/shop of this order."
          },
          "basket": {
            "type": "array",
            "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerResponse"
          },
          "persona": {
            "$ref": "#/components/schemas/PersonaResponse"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/AddressResponse"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/AddressResponse"
          },
          "ipAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)"
          },
          "paymentInstrument": {
            "$ref": "#/components/schemas/PaymentInstrumentResponse"
          },
          "redirectUrl": {
            "maxLength": 2048,
            "minLength": 6,
            "type": "string",
            "description": "The URL which the customer needs to be redirected to.",
            "format": "url"
          },
          "source": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The source of the order."
          },
          "product": {
            "$ref": "#/components/schemas/ProductsBaseTypeEnum"
          },
          "allowedProducts": {
            "type": "array",
            "description": "A List of all valid products for this order.",
            "items": {
              "$ref": "#/components/schemas/ProductsBaseTypeEnum"
            }
          },
          "settled": {
            "type": "boolean",
            "description": "A flag which indicates if this order has been settled or not."
          },
          "settlementDate": {
            "type": "string",
            "description": "The date of the settlement.",
            "format": "date-time"
          },
          "transactionType": {
            "$ref": "#/components/schemas/InitialTransactionTypeBaseTypeEnum"
          },
          "deviceIdent": {
            "$ref": "#/components/schemas/DeviceIdentResponse"
          },
          "meta": {
            "$ref": "#/components/schemas/OrderMetaInfResponse"
          },
          "lastOperation": {
            "type": "string",
            "description": "A combined field of the last executed transaction and the status of the transaction. \"TRANSACTION_<TRANSACTION_TYPE>_<TRANSACTION_STATUS>\"",
            "enum": [
              "TRANSACTION_PREAUTH_OK",
              "TRANSACTION_PREAUTH_CREATED",
              "TRANSACTION_PREAUTH_IN_PROGRESS",
              "TRANSACTION_PREAUTH_PENDING",
              "TRANSACTION_PREAUTH_FAILURE",
              "TRANSACTION_PREAUTH_DECLINED",
              "TRANSACTION_PREAUTH_ABORTED",
              "TRANSACTION_PREAUTH_EXPIRED",
              "TRANSACTION_CANCEL_OK",
              "TRANSACTION_CANCEL_SUCCESS",
              "TRANSACTION_CANCEL_CREATED",
              "TRANSACTION_CANCEL_IN_PROGRESS",
              "TRANSACTION_CANCEL_FAILURE",
              "TRANSACTION_CANCEL_DECLINED",
              "TRANSACTION_DEBIT_OK",
              "TRANSACTION_DEBIT_SUCCESS",
              "TRANSACTION_DEBIT_CREATED",
              "TRANSACTION_DEBIT_IN_PROGRESS",
              "TRANSACTION_DEBIT_PENDING",
              "TRANSACTION_DEBIT_FAILURE",
              "TRANSACTION_DEBIT_DECLINED",
              "TRANSACTION_DEBIT_ABORTED",
              "TRANSACTION_DEBIT_EXPIRED",
              "TRANSACTION_CAPTURE_OK",
              "TRANSACTION_CAPTURE_SUCCESS",
              "TRANSACTION_CAPTURE_CREATED",
              "TRANSACTION_CAPTURE_IN_PROGRESS",
              "TRANSACTION_CAPTURE_FAILURE",
              "TRANSACTION_CAPTURE_DECLINED",
              "TRANSACTION_CAPTURE_EXPIRED",
              "TRANSACTION_REFUND_OK",
              "TRANSACTION_REFUND_SUCCESS",
              "TRANSACTION_REFUND_CREATED",
              "TRANSACTION_REFUND_IN_PROGRESS",
              "TRANSACTION_REFUND_FAILURE",
              "TRANSACTION_REFUND_DECLINED",
              "TRANSACTION_CREDIT_OK",
              "TRANSACTION_CREDIT_SUCCESS",
              "TRANSACTION_CREDIT_CREATED",
              "TRANSACTION_CREDIT_IN_PROGRESS",
              "TRANSACTION_CREDIT_PENDING",
              "TRANSACTION_CREDIT_FAILURE",
              "TRANSACTION_CREDIT_ABORTED",
              "TRANSACTION_CREDIT_DECLINED",
              "TRANSACTION_CHARGEBACK_CHARGEBACK",
              "TRANSACTION_CHARGEBACK_BOOKED",
              "TRANSACTION_CHARGEBACK_LIFTED",
              "TRANSACTION_CHARGEBACK_BOOKIN"
            ]
          }
        }
      },
      "OrdersGetNotFound": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/order_asdfghjk"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 404
          },
          "message": {
            "type": "string",
            "example": "Error while loading order!"
          },
          "code": {
            "type": "number",
            "example": 12001
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersGetErrors"
            }
          }
        }
      },
      "OrderUpdateRequest": {
        "title": "OrderUpdateRequest",
        "type": "object",
        "properties": {
          "terms": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "privacy": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "merchantOrderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from your system/shop for Creditcards only 30 alphanumeric characters."
          },
          "description": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The description from your system/shop of this order."
          },
          "statementDescription": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The statement description from your system/shop of this order."
          },
          "initialAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "Amount as smallest currency unit\ne.g 100 EUR will be result in amount = 10000\n",
            "format": "int"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217"
          },
          "basket": {
            "type": "array",
            "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The customer id which will be used to process this order."
          },
          "persona": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer."
          },
          "billingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as billing address for this order."
          },
          "shippingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as shipping address for this order."
          },
          "ipAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelsBaseTypeEnum"
          },
          "source": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The source is a form free descriptor of the origin."
          },
          "async": {
            "$ref": "#/components/schemas/Async"
          },
          "allowedProducts": {
            "type": "array",
            "description": "A List of all valid products for this order.",
            "items": {
              "$ref": "#/components/schemas/ProductsBaseTypeEnum"
            }
          },
          "transactionType": {
            "$ref": "#/components/schemas/InitialTransactionTypeBaseTypeEnum"
          },
          "risk": {
            "$ref": "#/components/schemas/Risk"
          },
          "executeOrder": {
            "type": "boolean",
            "description": "Paypal specific parameter. If true the order will be processed after the update. This property is used to finish the processing of order, when the Paypal debit or preauth is created with 'addressOverride=false'. Defaut is false."
          },
          "locale": {
            "type": "string",
            "description": "Language tag consisting of a two-letter language code combined with a two-letter country code according to RFC 1766. Examples: en-US, en-GB. Only for PayPal, Union Pay and WeChat Pay."
          }
        }
      },
      "OrderOpenRequest": {
        "title": "OrderOpenRequest",
        "required": [
          "async",
          "currency",
          "initialAmount",
          "product"
        ],
        "type": "object",
        "properties": {
          "initialAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "Amount as smallest currency unit\ne.g 100 EUR will be result in amount = 10000\n",
            "format": "int"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217\n"
          },
          "product": {
            "$ref": "#/components/schemas/ProductsBaseTypeEnum"
          },
          "async": {
            "$ref": "#/components/schemas/Async"
          },
          "terms": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "privacy": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "merchantOrderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from your system/shop for Creditcards only 30 alphanumeric characters."
          },
          "description": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The description from your system/shop of this order."
          },
          "statementDescription": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The statement description from your system/shop of this order."
          },
          "basket": {
            "type": "array",
            "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The customer id which will be used to process this order."
          },
          "persona": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer."
          },
          "billingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as billing address for this order."
          },
          "shippingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as shipping address for this order."
          },
          "ipAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelsBaseTypeEnum"
          },
          "source": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The source is a form free descriptor of the origin."
          },
          "payment": {
            "$ref": "#/components/schemas/OrderOpenPaymentRequest"
          },
          "deviceIdent": {
            "$ref": "#/components/schemas/DeviceIdentRequest"
          },
          "tracking": {
            "type": "array",
            "description": "specific parameter for all payment methods, array of object of type Tracking",
            "items": {
              "$ref": "#/components/schemas/Tracking"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaRequestWithThreeDsData"
          },
          "locale": {
            "type": "string",
            "description": "Language tag consisting of a two-letter language code combined with a two-letter country code according to RFC 1766. Examples: en-US, en-GB. Only for PayPal, Union Pay and WeChat Pay."
          },
          "risk": {
            "$ref": "#/components/schemas/Risk"
          }
        }
      },
      "OrdersPreauthPostBadRequest": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/preauth"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersPreauthPostErrors"
            }
          }
        }
      },
      "OrdersDebitPostBadRequest": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/debit"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersDebitPostErrors"
            }
          }
        }
      },
      "OrderCreditRequest": {
        "title": "OrderCreditRequest",
        "required": [
          "currency",
          "initialAmount",
          "product"
        ],
        "type": "object",
        "properties": {
          "initialAmount": {
            "maximum": 1000000000000000000,
            "minimum": 1,
            "type": "number",
            "description": "Amount as smallest currency unit\ne.g 100 EUR will be result in amount = 10000\n",
            "format": "int"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217\n"
          },
          "product": {
            "$ref": "#/components/schemas/ProductsBaseTypeEnum"
          },
          "terms": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "privacy": {
            "type": "number",
            "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
            "format": "integer"
          },
          "merchantOrderId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The order id from your system/shop for Creditcards only 30 alphanumeric characters."
          },
          "description": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The description from your system/shop of this order."
          },
          "statementDescription": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The statement description from your system/shop of this order."
          },
          "basket": {
            "type": "array",
            "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "customer": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The customer id which will be used to process this order."
          },
          "persona": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer."
          },
          "billingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as billing address for this order."
          },
          "shippingAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The address id used as shipping address for this order."
          },
          "ipAddress": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelsBaseTypeEnum"
          },
          "source": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "The source is a form free descriptor of the origin."
          },
          "payment": {
            "$ref": "#/components/schemas/CreditOrderPaymentRequest"
          },
          "deviceIdent": {
            "$ref": "#/components/schemas/DeviceIdentRequest"
          },
          "locale": {
            "type": "string",
            "description": "Language tag consisting of a two-letter language code combined with a two-letter country code according to RFC 1766. Examples: en-US, en-GB. Only for PayPal, Union Pay and WeChat Pay."
          },
          "meta": {
            "$ref": "#/components/schemas/CreditCardCreditMeta"
          }
        }
      },
      "CreditOrderPaymentRequest": {
        "title": "CreditOrderPaymentRequest",
        "type": "object",
        "properties": {
          "paymentInstrumentId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "An ID of an already created paymentinstrument. Used to proceed the order. (optional)",
            "example": "paymentinstrument_123abcdef5"
          },
          "cardNumber": {
            "maxLength": 19,
            "minLength": 12,
            "type": "string",
            "description": "The Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)"
          },
          "verification": {
            "maxLength": 4,
            "minLength": 3,
            "type": "string",
            "description": "The verification number of the creditcard. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)"
          },
          "expiryMonth": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)"
          },
          "expiryYear": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "The expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)"
          },
          "cardHolder": {
            "maxLength": 128,
            "minLength": 3,
            "type": "string",
            "description": "The full name of the cardholder."
          },
          "deferred": {
            "type": "boolean",
            "description": "Indicates if the order should be deferred. (only available for paypal preauth/execute, optional)"
          },
          "emailSubject": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Only for paypal. The subject line of the email that PayPal sends when the transaction is completed. The emailSubject must follow the following pattern '^(\\p{L}|\\s|\\d)*$'"
          },
          "receiverType": {
            "type": "string",
            "description": "Only for paypal. Indicates how you identify the recipients of payments in this call to MassPay. Must be either 'EmailAddress', 'PhoneNumber', or 'UserID'."
          },
          "receiverEmail": {
            "maxLength": 127,
            "minLength": 1,
            "type": "string",
            "description": "Only for paypal. Email address of recipient. Mandatory if receiverType is EmailAddress."
          },
          "receiverPhone": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Only for paypal. Mobile phone number of recipient. Mandatory if receiverType is PhoneNumber. The receiverPhone must follow the following pattern '^\\s*\\+?(\\d|\\-|\\s|\\/){1,16}$'"
          },
          "receiverId": {
            "maxLength": 17,
            "minLength": 1,
            "type": "string",
            "description": "Only for paypal. Unique PayPal customer account number. Mandatory if receiverType is UserID."
          },
          "createRecurringBillingAgreement": {
            "type": "boolean",
            "description": "Only for paypal. Indicates if the payment is recurring."
          },
          "bankName": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The name of the bank of the SEPA account.",
            "example": "Deutsche Bank"
          },
          "iban": {
            "maxLength": 34,
            "type": "string",
            "description": "IBAN of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId was passed)",
            "example": "DE15111111111111111199"
          },
          "bic": {
            "maxLength": 11,
            "minLength": 8,
            "type": "string",
            "description": "BIC of the bank account. (mandatory for sepa payments with a non german iban, optional if a sepa<br> paymentInstrumentId was passed<br> optional for ideal and sofort-collecting)",
            "example": "DEUTDEDBKOE"
          },
          "accountHolder": {
            "maxLength": 128,
            "minLength": 4,
            "type": "string",
            "description": "The account holders name of the bank account. (Optional parameter for PPRO payments methods<br> The maxLength value only for PPRO payment methods is 100.",
            "example": "Max Muster"
          }
        },
        "description": "Additional information Payment needed to proceed the order."
      },
      "OrdersCreditPostErrors": {
        "title": "Error",
        "type": "array",
        "example": [
          {
            "code": 12200,
            "field": "initialAmount",
            "message": "Field initialAmount is missing.  Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12201,
            "field": "initialAmount",
            "message": "Bad value for initialAmount. Expeted: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12202,
            "field": "currency",
            "message": "Field currency is missing. Expected: string value in ['EUR']."
          },
          {
            "code": 12203,
            "field": "currency",
            "message": "Bad value for currency. Expected: string value in ['EUR']."
          },
          {
            "code": 12213,
            "field": "terms",
            "message": "Field terms is missing. Expected: UNIX timestamp in ms."
          },
          {
            "code": 12214,
            "field": "terms",
            "message": "Bad value for terms. Expected: UNIX timestamp in ms."
          },
          {
            "code": 12215,
            "field": "privacy",
            "message": "Field privacy is missing. Expected: UNIX timestamp in ms."
          },
          {
            "code": 12216,
            "field": "privacy",
            "message": "Bad value for privacy. Expected: UNIX timestamp in ms."
          },
          {
            "code": 12217,
            "field": "description",
            "message": "Bad value for description. Expected: string of length between 1 and 128."
          },
          {
            "code": 12218,
            "field": "statementDescription",
            "message": "Bad value for statementDescription. Expected: string of length between 1 and 128."
          },
          {
            "code": 12219,
            "field": "basket",
            "message": "Field basket is missing. Expected: array of type Item."
          },
          {
            "code": 12220,
            "field": "basket",
            "message": "Bad value for basket. Expected: array of type Item."
          },
          {
            "code": 12221,
            "field": "basket.item.name",
            "message": "Field basket.item.name is missing. Expected: string of length between 1 and 128."
          },
          {
            "code": 12222,
            "field": "basket.item.name",
            "message": "Bad value for basket.item.name. Expected: string of length between 1 and 128."
          },
          {
            "code": 12223,
            "field": "basket.item.articleNumber",
            "message": "Field basket.item.articleNumber is missing. Expected: string of length between 1 and 255."
          },
          {
            "code": 12224,
            "field": "basket.item.articleNumber",
            "message": "Bad value for basket.item.articleNumber. Expected: string of length between 1 and 255."
          },
          {
            "code": 12225,
            "field": "basket.item.totalPrice",
            "message": "Field basket.item.totalPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12226,
            "field": "basket.item.totalPrice",
            "message": "Bad value for basket.item.totalPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12227,
            "field": "basket.item.totalPriceWithTax",
            "message": "Field basket.item.totalPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12228,
            "field": "basket.item.totalPriceWithTax",
            "message": "Bad value for basket.item.totalPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12229,
            "field": "basket.item.tax",
            "message": "Field basket.item.tax is missing. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12230,
            "field": "basket.item.tax",
            "message": "Bad value for basket.item.tax. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12231,
            "field": "basket.item.unitPrice",
            "message": "Field basket.item.unitPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12232,
            "field": "basket.item.unitPrice",
            "message": "Bad value for basket.item.unitPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12233,
            "field": "basket.item.unitPriceWithTax",
            "message": "Field basket.item.unitPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12234,
            "field": "basket.item.unitPriceWithTax",
            "message": "Bad value for basket.item.unitPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12235,
            "field": "basket.item.quantity",
            "message": "Field basket.item.quantity is missing. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12236,
            "field": "basket.item.quantity",
            "message": "Bad value for basket.item.quantity. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12237,
            "field": "customer",
            "message": "Field customer is missing. Expected: A valid string identifier between 1 and 255 characters representing a Customer object."
          },
          {
            "code": 12238,
            "field": "customer",
            "message": "Bad value for customer. Expected: A valid string identifier between 1 and 255 characters representing a Customer object."
          },
          {
            "code": 12239,
            "field": "customer",
            "message": "Referenced object for customer invalid. Expected: A valid string identifier between 1 and 255 characters representing a Customer object."
          },
          {
            "code": 12240,
            "field": "persona",
            "message": "Field persona is missing. Expected: A valid string identifier between 1 and 255 characters representing a Persona object."
          },
          {
            "code": 12241,
            "field": "persona",
            "message": "Bad value for persona. Expected: A valid string identifier between 1 and 255 characters representing a Persona object."
          },
          {
            "code": 12242,
            "field": "persona",
            "message": "Referenced object for persona invalid. Expected: A valid string identifier between 1 and 255 characters representing a Persona object having persona.birthday filled out."
          },
          {
            "code": 12243,
            "field": "persona",
            "message": "Referenced object for customer invalid. Expected: A valid string identifier between 1 and 255 characters representing a Persona object having persona.phone, persona.mobile filled out."
          },
          {
            "code": 12244,
            "field": "billingAddress",
            "message": "Field billingAddress is missing. Expected: A valid string identifier between 1 and 255 characters representing an Address object."
          },
          {
            "code": 12245,
            "field": "billingAddress",
            "message": "Bad value for billingAddress. Expected: A valid string identifier between 1 and 255 characters representing an Address object."
          },
          {
            "code": 12246,
            "field": "shippingAddress",
            "message": "Field shippingAddress is missing. Expected: A valid string identifier between 1 and 255 characters representing an Address object."
          },
          {
            "code": 12247,
            "field": "shippingAddress",
            "message": "Bad value for shippingAddress. Expected: A valid string identifier between 1 and 255 characters representing an Address object."
          },
          {
            "code": 12248,
            "field": "ipAddress",
            "message": "Field ipAddress is missing. Expected: A string between 1 and 255 characters representing an valid IPv4 - IPv6 address."
          },
          {
            "code": 12249,
            "field": "ipAddress",
            "message": "Bad value for ipAddress. Expected: A string between 1 and 255 characters representing an valid IPv4 - IPv6 address."
          },
          {
            "code": 12250,
            "field": "channel",
            "message": "Field channel is missing. Expected: A string value in ['MOTO', 'ECOM']."
          },
          {
            "code": 12251,
            "field": "channel",
            "message": "Bad value for channel.  Expected: A string value in ['MOTO', 'ECOM']."
          },
          {
            "code": 12252,
            "field": "source",
            "message": "Bad value for source.  Expected: string of length between 1 and 128 characters."
          },
          {
            "code": 10201,
            "field": "type",
            "message": "Field type is missing. Expected: string value in ['sepa', 'creditcard', 'klarna', 'paypal']."
          },
          {
            "code": 10202,
            "field": "type",
            "message": "Bad value for type. string value in ['sepa', 'creditcard', 'klarna', 'paypal']."
          },
          {
            "code": 12255,
            "field": "payment",
            "message": "Field payment is missing. Expected: A valid object of type PaymentInstrumentPayment."
          },
          {
            "code": 12264,
            "field": "payment.riskIdentId",
            "message": "Field payment.riskIdentId is missing. Expected: string between 1 and 80 characters."
          },
          {
            "code": 12265,
            "field": "payment.riskIdentId",
            "message": "Bad value for payment.riskIdentId. Expected: string between 1 and 80 characters."
          },
          {
            "code": 129999,
            "field": "payment.{unexpected_field}",
            "message": "Bad value for payment.{unexpected_field} is unknown. Expected: A valid object of type PaymentInstrumentPayment."
          },
          {
            "code": 16000,
            "field": "payment.cardNumber",
            "message": "Field payment.cardNumber is missing. Expected: string of length between 12 and 19 representing a valid creditcard number."
          },
          {
            "code": 16001,
            "field": "payment.cardNumber",
            "message": "Bad value for payment.cardNumber. Expected: string of length between 12 and 19 representing a valid creditcard number."
          },
          {
            "code": 16002,
            "field": "payment.verification",
            "message": "Field payment.verification is missing. Expected: string of length between 3 and 4 representing a valid creditcard verification number."
          },
          {
            "code": 16003,
            "field": "payment.verification",
            "message": "Bad value for payment.verification. Expected: string of length between 3 and 4 representing a valid creditcard verification number."
          },
          {
            "code": 16004,
            "field": "payment.expiryMonth",
            "message": "Field payment.expiryMonth is missing. Expected: string of length 2 between '01' and '12' representing the month in a valid creditcard expiry date."
          },
          {
            "code": 16005,
            "field": "payment.expiryMonth",
            "message": "Bad value for payment.expiryMonth. Expected: string of length 2 between '01' and '12' representing the month in a valid creditcard expiry date."
          },
          {
            "code": 16006,
            "field": "payment.expiryYear",
            "message": "Field payment.expiryMonth is missing. Expected: string of length 2 between '00' and '99' representing the year in a valid creditcard expiry date."
          },
          {
            "code": 16007,
            "field": "payment.expiryYear",
            "message": "Bad value for payment.expiryMonth. Expected: string of length 2 between '00' and '99' representing the year in a valid creditcard expiry date."
          },
          {
            "code": 16008,
            "field": "payment.expiryMonth & payment.expiryYear",
            "message": "Bad value for combination of payment.expiryMonth and payment.exiryYear. Expected: payment.expiryMonth and payment.expiryYear combined should represent a valid credit card expiry date."
          },
          {
            "code": 16009,
            "field": "payment.cardHolder",
            "message": "Field payment.cardHolder is missing. Expected: string of length between 3 and 128 containing only alpha, whitespaces, dots, aphostrophes, dashes."
          },
          {
            "code": 16010,
            "field": "payment.cardHolder",
            "message": "Bad value for payment.cardHolder. Expected: string of length between 3 and 128 containing only alpha, whitespaces, dots, aphostrophes, dashes."
          },
          {
            "code": 16016,
            "field": "payment.accountHolder",
            "message": "Bad value for payment.accountHolder. Expected: string of length between 4 and 128."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersCreditPostBadRequest": {
        "title": "BadRequest",
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/credit"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersCreditPostErrors"
            }
          }
        }
      },
      "OrdersTransactionsCancelPostErrors": {
        "type": "array",
        "example": [
          {
            "code": 12200,
            "field": "initialAmount",
            "message": "Field initialAmount is missing.  Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12201,
            "field": "initialAmount",
            "message": "Bad value for initialAmount. Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12202,
            "field": "currency",
            "message": "Field currency is missing. Expected: string value in ['EUR']."
          },
          {
            "code": 12203,
            "field": "currency",
            "message": "Bad value for currency. Expected: string value in ['EUR']."
          },
          {
            "code": 12217,
            "field": "description",
            "message": "Bad value for description. Expected: string of length between 1 and 128."
          },
          {
            "code": 12219,
            "field": "basket",
            "message": "Field basket is missing. Expected: array of type Item."
          },
          {
            "code": 12220,
            "field": "basket",
            "message": "Bad value for basket. Expected: array of type Item."
          },
          {
            "code": 12221,
            "field": "basket.item.name",
            "message": "Field basket.item.name is missing. Expected: string of length between 1 and 128."
          },
          {
            "code": 12222,
            "field": "basket.item.name",
            "message": "Bad value for basket.item.name. Expected: string of length between 1 and 128."
          },
          {
            "code": 12223,
            "field": "basket.item.articleNumber",
            "message": "Field basket.item.articleNumber is missing. Expected: string of length between 1 and 255."
          },
          {
            "code": 12224,
            "field": "basket.item.articleNumber",
            "message": "Bad value for basket.item.articleNumber. Expected: string of length between 1 and 255."
          },
          {
            "code": 12225,
            "field": "basket.item.totalPrice",
            "message": "Field basket.item.totalPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12226,
            "field": "basket.item.totalPrice",
            "message": "Bad value for basket.item.totalPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12227,
            "field": "basket.item.totalPriceWithTax",
            "message": "Field basket.item.totalPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12228,
            "field": "basket.item.totalPriceWithTax",
            "message": "Bad value for basket.item.totalPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12229,
            "field": "basket.item.tax",
            "message": "Field basket.item.tax is missing. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12230,
            "field": "basket.item.tax",
            "message": "Bad value for basket.item.tax. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12231,
            "field": "basket.item.unitPrice",
            "message": "Field basket.item.unitPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12232,
            "field": "basket.item.unitPrice",
            "message": "Bad value for basket.item.unitPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12233,
            "field": "basket.item.unitPriceWithTax",
            "message": "Field basket.item.unitPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12234,
            "field": "basket.item.unitPriceWithTax",
            "message": "Bad value for basket.item.unitPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12235,
            "field": "basket.item.quantity",
            "message": "Field basket.item.quantity is missing. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12236,
            "field": "basket.item.quantity",
            "message": "Bad value for basket.item.quantity. Expected: positive integer between 1 and 9999999."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsCapturePostErrors": {
        "type": "array",
        "example": [
          {
            "code": 12200,
            "field": "initialAmount",
            "message": "Field initialAmount is missing.  Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12201,
            "field": "initialAmount",
            "message": "Bad value for initialAmount. Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12202,
            "field": "currency",
            "message": "Field currency is missing. Expected: string value in ['EUR']."
          },
          {
            "code": 12203,
            "field": "currency",
            "message": "Bad value for currency. Expected: string value in ['EUR']."
          },
          {
            "code": 12217,
            "field": "description",
            "message": "Bad value for description. Expected: string of length between 1 and 128."
          },
          {
            "code": 12219,
            "field": "basket",
            "message": "Field basket is missing. Expected: array of type Item."
          },
          {
            "code": 12220,
            "field": "basket",
            "message": "Bad value for basket. Expected: array of type Item."
          },
          {
            "code": 12221,
            "field": "basket.item.name",
            "message": "Field basket.item.name is missing. Expected: string of length between 1 and 128."
          },
          {
            "code": 12222,
            "field": "basket.item.name",
            "message": "Bad value for basket.item.name. Expected: string of length between 1 and 128."
          },
          {
            "code": 12223,
            "field": "basket.item.articleNumber",
            "message": "Field basket.item.articleNumber is missing. Expected: string of length between 1 and 255."
          },
          {
            "code": 12224,
            "field": "basket.item.articleNumber",
            "message": "Bad value for basket.item.articleNumber. Expected: string of length between 1 and 255."
          },
          {
            "code": 12225,
            "field": "basket.item.totalPrice",
            "message": "Field basket.item.totalPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12226,
            "field": "basket.item.totalPrice",
            "message": "Bad value for basket.item.totalPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12227,
            "field": "basket.item.totalPriceWithTax",
            "message": "Field basket.item.totalPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12228,
            "field": "basket.item.totalPriceWithTax",
            "message": "Bad value for basket.item.totalPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12229,
            "field": "basket.item.tax",
            "message": "Field basket.item.tax is missing. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12230,
            "field": "basket.item.tax",
            "message": "Bad value for basket.item.tax. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12231,
            "field": "basket.item.unitPrice",
            "message": "Field basket.item.unitPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12232,
            "field": "basket.item.unitPrice",
            "message": "Bad value for basket.item.unitPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12233,
            "field": "basket.item.unitPriceWithTax",
            "message": "Field basket.item.unitPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12234,
            "field": "basket.item.unitPriceWithTax",
            "message": "Bad value for basket.item.unitPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12235,
            "field": "basket.item.quantity",
            "message": "Field basket.item.quantity is missing. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12236,
            "field": "basket.item.quantity",
            "message": "Bad value for basket.item.quantity. Expected: positive integer between 1 and 9999999."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsRefundPostErrors": {
        "type": "array",
        "example": [
          {
            "code": 12200,
            "field": "initialAmount",
            "message": "Field initialAmount is missing.  Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12201,
            "field": "initialAmount",
            "message": "Bad value for initialAmount. Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12202,
            "field": "currency",
            "message": "Field currency is missing. Expected: string value in ['EUR']."
          },
          {
            "code": 12203,
            "field": "currency",
            "message": "Bad value for currency. Expected: string value in ['EUR']."
          },
          {
            "code": 12217,
            "field": "description",
            "message": "Bad value for description. Expected: string of length between 1 and 128."
          },
          {
            "code": 12219,
            "field": "basket",
            "message": "Field basket is missing. Expected: array of type Item."
          },
          {
            "code": 12220,
            "field": "basket",
            "message": "Bad value for basket. Expected: array of type Item."
          },
          {
            "code": 12221,
            "field": "basket.item.name",
            "message": "Field basket.item.name is missing. Expected: string of length between 1 and 128."
          },
          {
            "code": 12222,
            "field": "basket.item.name",
            "message": "Bad value for basket.item.name. Expected: string of length between 1 and 128."
          },
          {
            "code": 12223,
            "field": "basket.item.articleNumber",
            "message": "Field basket.item.articleNumber is missing. Expected: string of length between 1 and 255."
          },
          {
            "code": 12224,
            "field": "basket.item.articleNumber",
            "message": "Bad value for basket.item.articleNumber. Expected: string of length between 1 and 255."
          },
          {
            "code": 12225,
            "field": "basket.item.totalPrice",
            "message": "Field basket.item.totalPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12226,
            "field": "basket.item.totalPrice",
            "message": "Bad value for basket.item.totalPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12227,
            "field": "basket.item.totalPriceWithTax",
            "message": "Field basket.item.totalPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12228,
            "field": "basket.item.totalPriceWithTax",
            "message": "Bad value for basket.item.totalPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12229,
            "field": "basket.item.tax",
            "message": "Field basket.item.tax is missing. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12230,
            "field": "basket.item.tax",
            "message": "Bad value for basket.item.tax. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12231,
            "field": "basket.item.unitPrice",
            "message": "Field basket.item.unitPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12232,
            "field": "basket.item.unitPrice",
            "message": "Bad value for basket.item.unitPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12233,
            "field": "basket.item.unitPriceWithTax",
            "message": "Field basket.item.unitPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12234,
            "field": "basket.item.unitPriceWithTax",
            "message": "Bad value for basket.item.unitPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12235,
            "field": "basket.item.quantity",
            "message": "Field basket.item.quantity is missing. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12236,
            "field": "basket.item.quantity",
            "message": "Bad value for basket.item.quantity. Expected: positive integer between 1 and 9999999."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsGetErrors": {
        "type": "array",
        "example": [
          {
            "code": 12101,
            "field": "orderId",
            "message": "An Order with specified id can not be found. Expected: A valid string identifier representing an Order object between 1 and 255 characters."
          },
          {
            "code": 14101,
            "field": "transactionId",
            "message": "A Transaction with specified id can not be found. Expected: A valid string identifier representing a Transaction object between 1 and 255 characters."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsPatchErrors": {
        "type": "array",
        "example": [
          {
            "code": 12101,
            "field": "orderId",
            "message": "An Order with specified id can not be found. Expected: A valid string identifier representing an Order object between 1 and 255 characters."
          },
          {
            "code": 14101,
            "field": "transactionId",
            "message": "A Transaction with specified id can not be found. Expected: A valid string identifier representing a Transaction object between 1 and 255 characters."
          },
          {
            "code": 12200,
            "field": "initialAmount",
            "message": "Field initialAmount is missing.  Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12201,
            "field": "initialAmount",
            "message": "Bad value for initialAmount. Expected: Positive integer between 1 and 999999999999999999."
          },
          {
            "code": 12202,
            "field": "currency",
            "message": "Field currency is missing. Expected: string value in ['EUR']."
          },
          {
            "code": 12203,
            "field": "currency",
            "message": "Bad value for currency. Expected: string value in ['EUR']."
          },
          {
            "code": 12217,
            "field": "description",
            "message": "Bad value for description. Expected: string of length between 1 and 128."
          },
          {
            "code": 12219,
            "field": "basket",
            "message": "Field basket is missing. Expected: array of type Item."
          },
          {
            "code": 12220,
            "field": "basket",
            "message": "Bad value for basket. Expected: array of type Item."
          },
          {
            "code": 12221,
            "field": "basket.item.name",
            "message": "Field basket.item.name is missing. Expected: string of length between 1 and 128."
          },
          {
            "code": 12222,
            "field": "basket.item.name",
            "message": "Bad value for basket.item.name. Expected: string of length between 1 and 128."
          },
          {
            "code": 12223,
            "field": "basket.item.articleNumber",
            "message": "Field basket.item.articleNumber is missing. Expected: string of length between 1 and 255."
          },
          {
            "code": 12224,
            "field": "basket.item.articleNumber",
            "message": "Bad value for basket.item.articleNumber. Expected: string of length between 1 and 255."
          },
          {
            "code": 12225,
            "field": "basket.item.totalPrice",
            "message": "Field basket.item.totalPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12226,
            "field": "basket.item.totalPrice",
            "message": "Bad value for basket.item.totalPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12227,
            "field": "basket.item.totalPriceWithTax",
            "message": "Field basket.item.totalPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12228,
            "field": "basket.item.totalPriceWithTax",
            "message": "Bad value for basket.item.totalPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12229,
            "field": "basket.item.tax",
            "message": "Field basket.item.tax is missing. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12230,
            "field": "basket.item.tax",
            "message": "Bad value for basket.item.tax. Expected: positive integer between 1 and 100."
          },
          {
            "code": 12231,
            "field": "basket.item.unitPrice",
            "message": "Field basket.item.unitPrice is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12232,
            "field": "basket.item.unitPrice",
            "message": "Bad value for basket.item.unitPrice. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12233,
            "field": "basket.item.unitPriceWithTax",
            "message": "Field basket.item.unitPriceWithTax is missing. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12234,
            "field": "basket.item.unitPriceWithTax",
            "message": "Bad value for basket.item.unitPriceWithTax. Expected: Integer between -999999999999999998 and 999999999999999999."
          },
          {
            "code": 12235,
            "field": "basket.item.quantity",
            "message": "Field basket.item.quantity is missing. Expected: positive integer between 1 and 9999999."
          },
          {
            "code": 12236,
            "field": "basket.item.quantity",
            "message": "Bad value for basket.item.quantity. Expected: positive integer between 1 and 9999999."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsGetAllErrors": {
        "type": "array",
        "example": [
          {
            "code": 12101,
            "field": "orderId",
            "message": "An Order with specified id can not be found. Expected: A valid string identifier representing an Order object between 1 and 255 characters."
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "OrdersTransactionsCancelPostBadRequest": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/order_asdfghjk/transactions/transaction_asdfghjk/cancel"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersTransactionsCancelPostErrors"
            }
          }
        }
      },
      "OrdersTransactionsCapturePostBadRequest": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/order_asdfghjk/transactions/transaction_asdfghjk/capture"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrdersTransactionsCapturePostErrors"
            }
          }
        }
      },
      "OrdersTransactionsRefundPostBadRequest": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "v1/orders/order_asdfghjk/transactions/transaction_asdfghjk/refund"
          },
          "timestamp": {
            "type": "number",
            "format": "date-time",
            "example": 1603275671582
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Error while creating order!"
          },
          "code": {
            "type": "number",
            "example": 12000
          },
          "globalTrackId": {
            "type": "string",
            "example": "Some Request ID"
          },
          "errors": {
            "title": "Errors",
            "type": "array",
            "items": {
[...]
